<div class="row">
  <div class="col-sm-12">
    <div class="social">
      <p>
        Let's connect:
        <a href="mailto:thisguytrades@gmail.com">thisguytrades@gmail.com</a>
      </p>
    </div>
  </div>
</div>
