<div class="row">
  <div class="col-sm-12">
    <div class="social">
      <p>
        Let's connect:
        <a href="mailto:thisguytrades@gmail.com">thisguytrades@gmail.com</a>
      </p>

      <p>
        Follow me on Instagram:
        <a href="https://www.instagram.com/thisguytrades/">@ThisGuyTrades</a>
      </p>

      <p>
        Follow me on Twitter:
        <a href="https://www.instagram.com/sothisguytrades/"
          >@SoThisGuyTrades</a
        >
      </p>
    </div>
  </div>
</div>
